@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --light-bg: #f0f0f0;
  --light-text: #333;
  --light-header: #ffffff;
  --light-button: #dddddd;
  --light-input: #ffffff;
  --light-output: #eeeeee;
  --dark-bg: #1a1a1a;
  --dark-text: #dddddd;
  --dark-header: #333333;
  --dark-button: #555555;
  --dark-input: #333333;
  --dark-output: #444444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--light-bg);
  color: var(--light-text);
}

.dark body {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}